*** sugar	2016-07-06 10:26:52.763710839 +0000
--- /vagrant/sugar	2016-07-06 10:33:39.000000000 +0000
***************
*** 12,18 ****
  
  my $version = "v2-2-1";
  my $java = "java";
! my $jar = "/usr/local/lib/sugar/sugar-$version.jar";
  my $solver0 = "minisat";
  my $solver0_inc = "minisat-inc";
  my $tmp = "/tmp/sugar$$";
--- 12,18 ----
  
  my $version = "v2-2-1";
  my $java = "java";
! my $jar = "_BIN_DIR_/sugar-v2-2-1/bin/sugar-$version.jar";
  my $solver0 = "minisat";
  my $solver0_inc = "minisat-inc";
  my $tmp = "/tmp/sugar$$";
